* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    /* background-color: #EAEDED; */
    font-family: Arial, sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    margin: auto;
    width: 90%;
    max-width: 1500px;
  }
  .aligncenter {
    text-align: center;
  }

  main article {
    /* background: #FFF; */
    margin: 20px 0;
    padding: 20px;
    height: 1200px;
  }
  
  /** --------------------
      NAV AND NAV-LINKS
    -------------------- **/
  .menu {
    background: #FCF3CF;
    padding: 5px 0;
    margin-bottom: 20px;
    
    
  }
  
  .menu .container-menu-buttons {
    /* display: flex; */
    display: none;
    justify-content: space-between;
  }
  
  .menu .container-menu-buttons button {
    font-size: 20px;
    color: #FFF;
    padding: 10px 20px;
    border: 1px solid transparent;
    display: inline-block;
    cursor: pointer;
    background: none;
  }
  
  .menu .container-menu-buttons button:hover {
    border: 1px solid rgba(255,255,255, .4);
  }
  
  .menu .container-menu-buttons .btn-menu-close {
    display: none;
  }
  
  .menu .container-menu-buttons .btn-menu-close.active {
    display: inline-block;
  }
  
  .menu .container-nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu .btn-departments {
    color: black;
    padding: 7px;
    border-radius: 3px;
    display: flex;
    align-items: flex-end;
    border: 1px solid transparent;
    font-size: 12px;
    cursor: default;
  }
  
  .menu .btn-departments i {
    margin-left: 20px;
    position: relative;
    bottom: 3px;
  }
  
  .menu .btn-departments:hover {
    border: 1px solid rgba(255,255,255, .4);
  }
  
  .menu .btn-departments span {
    display: block;
    font-size: 14px;
    font-weight: bold;
  }
  
  .menu .container-nav-links .links a {
    color: black;
    border: 1px solid transparent;
    padding: 7px;
    border-radius: 3px;
    font-size: 14px;
  }
  
  .menu .container-nav-links .links a:hover {
    border: 1px solid rgba(255,255,255, .4);
  }